body{
  font-family: 'Bebas Neue';
  background-color: antiquewhite;
  font-weight: 500;
  font-style: normal;
  box-sizing: border-box;
  font-size: 1.2rem;
  justify-content: center;

}


      /* NAVBAR ESTYLES  */
.navbar{
overflow: hidden;
}

.navbar button{
background-color: #212529;
border-color: #212529;
}

.navbar a {
  box-shadow: inset 0 0 0 0 #c3d5db;
  color: #263236;
  margin: 0 -.35rem;
  padding: 0 .35rem;
  transition: color .2s ease-in-out, box-shadow .3s ease-in-out;
}

.navbar a:hover {
  box-shadow: inset 100px 0 0 0 #4c4f51;
  color: rgb(39, 30, 30);
}

.navbar-collapse{
text-align: flex;
display: flex;
justify-content: center;
align-items: center;
}

#MenuNavegacion{
font-size: 24px;
padding: 0px;
}
.navbar-brand{
font-size: 27px;
}
.nav-anuncio span{
color: black;
background-color: antiquewhite;
}
.nav-item{
padding: 0.7rem;
}

#nav-anuncio{
font-size: 1px;
}


/*  TITULO PAGINA */
.home-title {
background-color: #FFFFFF;
color: rgb(9, 9, 22);
text-align: center;
font-size: 2rem;
font-weight: 300;
margin:2rem;
border: 2px solid;
border-radius: 5px;
}
.card{
border: 2px solid;
border-radius: 10px;
}

/* TARJETAS   */
#tarjetas h3{
padding: 2rem;
}

#tarjetas button{
border-radius: 4px;
background-color: #bd1111;
color: #FFFFFF;
font-size: 18px;
transition: all 0.5s;
cursor: pointer;
margin: 5px;
}

#tarjetas button:hover{
color: rgb(194, 117, 117) !important;
box-shadow: 0 4px 16px rgb(90, 32, 32);
transition: all .3s ease;  
}

#tarjetas span{
font-size: 22px;
border: 2px solid;
border-color: rgb(233, 216, 32);
cursor: pointer;
margin: 4px;
}

.carousel{
padding: 2rem;
}

#divbtn{
  padding: 2rem;
}
.Short {
  width: 100%;
  background-color: #dc3545;
  margin-top: 5px;
  height: 3px;
  color: #dc3545;
  font-weight: 500;
  font-size: 12px;
}
.Weak {
  width: 100%;
  background-color: #ffc107;
  margin-top: 5px;
  height: 3px;
  color: #ffc107;
  font-weight: 500;
  font-size: 12px;
}
.Good {
  width: 100%;
  background-color: #28a745;
  margin-top: 5px;
  height: 3px;
  color: #28a745;
  font-weight: 500;
  font-size: 12px;
}
.Strong {
  width: 100%;
  background-color: #d39e00;
  margin-top: 5px;
  height: 3px;
  color: #d39e00;
  font-weight: 500;
  font-size: 12px;
}
#btnReset{
  align-items: center;
}
.form-group{
  margin-bottom: 20px;
}
.input-group span{
  padding-bottom: 22px;
}
.ocultar {
  display: none;
}

.mostrar {
  display: block;
}